{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block home %}

<body>
    <h1>Tapping Beam Monitor</h1>
</body>
<body>
    <!-- Image stream-->
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="camera_feed_thermal" alt="Raw thermal image">
          </div>

          <div class="col-md-4">
            <img src="camera_feed_binary" alt="Binary thermal image">
          </div>

          <div class="col-md-4">
            <div class="row">
                <div class="col-12"><img src="beam_status_image" alt="Tappingbeam"></div>
                <div class="col-12"><img src="beam_angle_image" alt="Tappingbeam"></div>
            </div>
          </div>

        </div>
      </div>
</body>


<!-- Temperature plot  -->
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas_temp"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <!-- Chart JavaScript -->
    <!-- <script src="static/js/chart.min.js"></script> -->

    <script>
        $(document).ready(function () {
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: ["Max temp."],
                        backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                        borderColor: ['rgba(255, 99, 132, 1)'],
                        data: [],
                        fill: false,
                    }, {
                        label: ["Mean temp."],
                        backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                        borderColor: ['rgba(54, 162, 235, 1)'],
                        data: [],
                        fill: false,
                    }, {
                        label: ["Min temp."],
                        backgroundColor: ['rgba(255, 206, 86, 0.2)'],
                        borderColor: ['rgba(255, 206, 86, 1)'],
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Tappingbeam temperature'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                        enabled: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Value'
                            }
                        }]
                    }
                }
            };
    
            const context = document.getElementById('canvas_temp').getContext('2d');
    
            const lineChart = new Chart(context, config);
    
            const source = new EventSource("/beam-temp");
    
            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if (config.data.labels.length === 20) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                    config.data.datasets[1].data.shift();
                    config.data.datasets[2].data.shift();


                }
                config.data.labels.push(data.time);
                config.data.datasets[0].data.push(data.value[0]);
                config.data.datasets[1].data.push(data.value[1]);
                config.data.datasets[2].data.push(data.value[2]);
                lineChart.update();
            }
        });
    </script>
    </body>

{% endblock %}